<ion-grid *ngIf="lstMoods" class="marginT">  
  <mat-radio-group
aria-labelledby="example-radio-group-label"
class="example-radio-group"
[(ngModel)]="currentMood">
  <ion-row *ngFor="let mood of lstMoods">
    <ion-col size="4">
      <div> 
      </div>
    </ion-col>
    <ion-col size="1">
        <div class="iconSize"> 
            <img  src="assets/icon/{{mood.icon}}.png">
        </div>
      </ion-col>
    <ion-col size="5">
            <mat-radio-button class="example-radio-button" [value]="mood.id">
  {{mood.label}}
</mat-radio-button>
    </ion-col>
    <ion-col size="2">
      <div>        
      </div>
  </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <div> 
      </div>
    </ion-col>
    <ion-col>
      <button mat-raised-button color="primary" type="submit" (click)="onSubmit();">Changer mon humeur</button>
    </ion-col>
    <ion-col>
      <div>        
      </div>
  </ion-col>
  </ion-row>
  </mat-radio-group>
</ion-grid>




<ion-spinner *ngIf="!lstMoods" name="lines" color="tertiary"></ion-spinner>


  