.center{
    margin-left: 25%;
}
.iconSize{
    width: 25px;
    margin-right: 10px;
}

.ionicText{
    text-align: left;
    margin-top: 6px;
}

.marginT{
    margin-top: 30px;
    margin-bottom: 10 px;
}