.mat-stepper-horizontal {
    margin-top: 8px;
  }
  
  .mat-form-field {
    margin-top: 16px;
  }
.labelGeneral{
    font-weight: bold;
    font-size: 20px;
    
}

.labelTitle{
  font-weight: bold;
  font-size: 16px;
}