<ion-content>
  <mat-horizontal-stepper [linear]="isLinear" #stepper>
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel></ng-template>
        <mat-label  class="labelGeneral">Mon humeur actuelle</mat-label>
        <app-mood-user [currentMood]="1" [lstMoods]="lstMoods"></app-mood-user>
        
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel></ng-template>
        <mat-label  class="labelGeneral">Personnaliser son mot de passe</mat-label>
        <app-password-user></app-password-user>
        
      </form>
    </mat-step>
    <mat-step [stepControl]="thirdFormGroup">
      <form [formGroup]="thirdFormGroup">
      <ng-template matStepLabel></ng-template>
      <mat-label class="labelGeneral">Conditions générales d’Utilisation de GAMMEO WALL TEAM</mat-label>
      <br/>
      <br/>

      La société Gammeo, dont le siège social se situe 33 RUE MAGENTA - 21000 DIJON.
      <br/>
      <br/>
      <mat-label class="labelTitle">Préambule</mat-label>
      <br/>
      L’application et les services, propriété de la société GAMMEO, sont exploités sous l’appellation GAMMEO WALL TEAM. L’accès par le client à GAMMEO WALL TEAM est lié à l’acceptation des présentations conditions générales d’utilisation.    
      <br/>
      <br/>
      <mat-label class="labelTitle">Article 1 – Inscription au service</mat-label>
      <br/>     
      1.1 – Inscription préalable et obligatoire pour l’accès au service
      
      En utilisant les services de Gammeo, l’utilisateur accepte d'être engagé par les présentes conditions générales d’utilisation, sans restriction ni réserve et reconnaît en avoir pris connaissance dans leur intégralité. Toute adhésion sous réserve est considérée comme nulle et non avenue. Si l’utilisateur n’est pas d'accord avec ces conditions générales d’utilisation, il ne doit pas utiliser GAMMEO WALL TEAM.
      
      Gammeo n'est en aucun cas responsable vis-à-vis des utilisateurs et des tiers des erreurs, omissions, imprécisions pouvant être relevées dans les informations fournies par un utilisateur.
      <br/> 
      1.2 – Compte d’utilisateur et mot de passe
      
      Chaque utilisateur pourra recevoir, dans le cadre du processus d'enregistrement, à l'adresse électronique mentionnée par lui lors de son inscription, un courrier électronique aux fins d'activation de son compte. Dans cette hypothèse, le service ne sera intégralement accessible que lorsque l’utilisateur aura exécuté en totalité le processus d'activation indiqué dans ce courrier électronique.
      
      L'identifiant et le mot de passe choisis par l’utilisateur permettent d'accéder au service. Ces données sont confidentielles. Le(s) utilisateur(s) est seul responsable de tout usage qui pourrait être fait de ses identifiants et mots de passe, et seul garant de leur confidentialité, ainsi que de toute utilisation de son compte.      
      L’utilisateur s'engage à informer Gammeo immédiatement de toute utilisation non autorisée de son compte, et de toute atteinte à la confidentialité et à la sécurité de ses moyens d'identification.     
      Si Gammeo a des motifs légitimes de penser que la sécurité du service est violée ou que celui-ci est mal utilisé du fait d'une utilisation non autorisée des moyens d'identification d’utilisateur, elle pourra procéder à la suspension temporaire du compte afin notamment de préserver l'intégrité des données, et, si cela apparaît approprié, exiger la modification de ces moyens d'identification. Dans l'hypothèse où l’utilisateur souhaiterait procéder à la modification de ses moyens d'identification, il lui suffit de se rendre sur le site et de modifier ses paramètres dans la rubrique « Mon compte ».     
      Dans la mesure où ses moyens d'identification seront parvenus entre les mains de tiers par sa faute, l’utilisateur sera seul responsable de toute utilisation de ses moyens d'identification et de l'utilisation du service faite en conséquence. Gammeo ne pourra en aucun cas être tenue responsable de toute perte ou tout dommage résultant d'un non-respect des obligations de l’utilisateur stipulée au présent article.
      <br/>
      <br/>
      <mat-label class="labelTitle">Article 2 – Utilisation de GAMMEO APPLICATION</mat-label>
      <br/>    
      Sous réserve du respect des conditions d'inscriptions prévues à l'article 1er, l’utilisateur est en mesure de profiter des fonctionnalités du site.     
      Sans que cette liste soit limitative, l’utilisateur s'engage, à respecter les règles suivantes : 
      Communiquer des informations exactes lors de son inscription et de l'utilisation de l’application ; 
      Se conformer aux lois en vigueur et respecter les droits des tiers, ainsi que les présentes stipulations contractuelles ;
      Respecter les droits de propriété intellectuelle afférents aux contenus fournis par Gammeo; 
      Ne pas détourner ou tenter de détourner l'une des fonctionnalités de l’application hors de son usage normal tel que défini aux présentes;
      En cas de manquement par un utilisateur à l'une ou plusieurs de ces règles, Gammeo se réserve le droit de suspendre et/ou de résilier son compte, de façon temporaire ou définitive, sans aucune contrepartie.
      <br/>
      <br/>
      <mat-label class="labelTitle">Article 3 – Confidentialité et données à caractère personnel</mat-label>
      <br/>
      Les données des utilisateurs sont stockées par Gammeo sur ses serveurs, en vue de leur traitement dans le cadre de l'utilisation de GAMMEO WALL TEAM. 
      L’application utilise la technologie des "cookies". Les cookies sont utiles notamment pour faciliter la personnalisation de l'accès de l’utilisateur à l’application. En particulier, l’application comprend un cookie de connexion permettant aux utilisateurs qui le souhaitent d'accéder de manière répétée à l’application sans avoir à s'identifier à chaque fois.     
      Pour cela, l’utilisateur doit cliquer sur la case à cocher correspondant à l'onglet "Rester connecté", figurant au sein de la fenêtre d'authentification qui apparaît lors d'une nouvelle connexion à l’application. En cliquant ainsi, l’utilisateur active ce cookie, dont la durée est de trois mois. L’utilisateur est informé que dans ce cas, via cet ordinateur, un autre utilisateur pourra accéder à GAMMEO WALL TEAM, puisque l'authentification préalable n'est plus requise.
      D'une manière générale, les cookies sont sans dommage pour le micro-ordinateur de l’utilisateur. L’utilisateur est libre d'accepter ou de refuser les cookies en configurant son navigateur. Les cookies sont anonymes et ne sont en aucun cas utilisés pour collecter des données à caractère personnel, mais uniquement à des fins de connexion et statistiques.
      Gammeo garde trace, via ces cookies, des connexions à l’application, et de leur origine notamment. Cette utilisation est faite à des fins d'analyses statistiques, et sont détruites par la suite.
      Gammeo prend les dispositions nécessaires pour que les données recueillies via GAMMEO WALL TEAM ne soient ni perdues, ni détournées, ni consultées, ni modifiées, ni divulguées par des tiers non autorisés.
      <br/>
      Les icones de l'application ont été créés par <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> sur <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
      <br/>
      <br/>
      <mat-label class="labelTitle">Article 4 – Propriété intellectuelle</mat-label>
      <br/>
      Les systèmes, logiciels, structures, infrastructures, bases de données et contenus (textes, images, visuels, musiques, logos, marques, etc …) exploités par Gammeo sont protégés par tous droits de propriété intellectuelle. Tous désassemblages, décompilations, décryptages, extractions, réutilisations, copies et plus généralement, tous actes de reproduction, représentation, diffusion et utilisation de l'un quelconque de ces éléments, en tout ou partie, sans l'autorisation de Gammeo, sont strictement interdits et feront l'objet de poursuites judiciaires.
      L'acceptation des présentes conditions d'utilisation vaut reconnaissance par l’utilisateur des droits de propriété intellectuelle de Gammeo ci-dessus énumérés et l'engagement de les respecter.
      <br/> 
      4.1 – Licence d’utilisation de GAMMEO APPLICATION
      Gammeo accorde à l’utilisateur de l’application une licence personnelle et non transférable l'autorisant à utiliser GAMMEO WALL TEAM, ainsi que les données qu’elle contient, pour un usage conformément aux présentes conditions générales d'utilisation.
      Toute autre exploitation ou utilisation de l’application, du service, et notamment des données qu'elle contient est exclue du domaine de la présente licence et ne pourra être effectuée qu'après avoir obtenu l'autorisation écrite et préalable de Gammeo. 
      En particulier, toute extraction, ou réutilisation au-delà de l'usage normal des données contenues dans l’application sont strictement interdites et soumise à l'autorisation expresse et préalable de Gammeo.
      L’utilisation de GAMMEO APPLICATION par l’utilisateur est disponible tant que l’abonnement du client est actif.
      <br/>
      <br/>
      <mat-label class="labelTitle">Article 5 – Modification des conditions générales d’utilisation</mat-label>
      <br/>
      Les présentes conditions générales d'utilisation pourront être modifiées par Gammeo, à tout moment et sans préavis. L’utilisateur est donc invité à consulter régulièrement la dernière version mise à jour, disponible et accessible en permanence sur l’application, en cliquant sur le lien "conditions générales d'utilisation".
        <div style="margin-top:15px;">
          <ion-item>
          <ion-checkbox formControlName="checkboxConditions" id="acceptCondition"> </ion-checkbox>
          <ion-label> Accepter les conditions générales</ion-label>
        </ion-item>
        </div>
        <ion-row style="color:red; text-align: center;">
          <ion-col *ngIf="isNotValid">
            Vous devez accepter les conditions générales pour continuer!
          </ion-col>
        </ion-row>
      <div style="float: right;">
        <!-- <button mat-button (click)="stepper.reset()">Valider</button> -->
        <button mat-raised-button color="primary" type="submit" (click)="onSubmit();">Valider</button>

      </div>
      </form>
    </mat-step>
  </mat-horizontal-stepper>  
</ion-content>