<form [formGroup]="passwordData">
  <ion-grid>
      <ion-row>
          <ion-col>
            <div> 
            </div>
          </ion-col>
          <ion-col>
              <span class="material-icons iconHeader centerIcon">account_circle</span>
          </ion-col>
          <ion-col>
            <div>        
            </div>
        </ion-col>
        </ion-row>
      <ion-row>
        <ion-col>
          <div> 
          </div>
        </ion-col>
        <ion-col>
            <mat-form-field appearance="fill">
                <mat-label>Ancien mot de passe</mat-label>
                <input matInput [type]="hideA ? 'text' : 'password'" formControlName="currentPassword" required>
                <button mat-icon-button matSuffix (click)="hideA = !hideA" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideA">
                <mat-icon>{{hideA ? 'visibility' : 'visibility_off'}}</mat-icon>
                </button>
              </mat-form-field>
        </ion-col>
        <ion-col>
          <div>        
          </div>
      </ion-col>
      </ion-row>
      <ion-row>
          <ion-col>
            <div> 
            </div>
          </ion-col>
          <ion-col>
              <mat-form-field appearance="fill">
                  <mat-label>Nouveau mot de passe</mat-label>
                  <input matInput [type]="hideN ? 'text' : 'password'" formControlName="newPassword">
                  <button mat-icon-button matSuffix (click)="hideN = !hideN" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideN">
                  <mat-icon>{{hideN ? 'visibility' : 'visibility_off'}}</mat-icon>
                  </button>
                </mat-form-field>
          </ion-col>
          <ion-col>
            <div>        
            </div>
        </ion-col>
      </ion-row>
      <ion-row>
          <ion-col>
            <div> 
            </div>
          </ion-col>
          <ion-col>
              <mat-form-field appearance="fill">
                  <mat-label>Confirmation mot de passe</mat-label>
                  <input matInput [type]="hide ? 'text' : 'password'" formControlName="newPasswordConfirm">
                  <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                  <mat-icon>{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
                  </button>
                  </mat-form-field>              
          </ion-col>
          <ion-col>
            <div>        
            </div>
        </ion-col>
      </ion-row>
      <ion-row>
          <ion-col>
            <div> 
            </div>
          </ion-col>
          <ion-col>
              <button mat-raised-button color="primary" type="submit" (click)="onSubmit(passwordData.value)">Sauvegarder</button>
          </ion-col>
          <ion-col>
            <div>        
            </div>
        </ion-col>
      </ion-row>
  </ion-grid>
</form>
