<ion-content>
  <ion-grid>
    <ion-row style="text-align: center; margin-top: 10%;">
      <ion-col>
        <form class="example-form">
          <mat-form-field class="example-full-width" layout-align="center center">    
            <mat-label>Identifiant</mat-label>
            <input name="username" [(ngModel)]="PersonConnexion.username" matInput placeholder="Identifiant">          
          </mat-form-field>
    
          <br>
    
          <mat-form-field class="example-full-width">
            <mat-label>Mot de passe</mat-label>
            <input name="password" [(ngModel)]="PersonConnexion.password" matInput type="password" placeholder="Mot de passe">
          </mat-form-field>
    
          <br>
    
          <button mat-stroked-button (click)="login()">Se connecter</button>
        </form>
      </ion-col>      
    </ion-row>
    <ion-row style="color:red; text-align: center;">
      <ion-col *ngIf="isNotValid">
        La combinaison utilisateur/mot de passe est incorrecte.
      </ion-col>
    </ion-row>
    <ion-row style="text-align: center; margin-top: 10%;">
      <ion-col>
        <p>
          Vous n'avez pas de compte ? Demandez votre compte auprès de votre responsable
        </p>        
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col style="text-align: center;">
        <img alt="Logo Gammeo" style="width: 180px;" src="assets/logo/LogoGammeo.png">

      </ion-col>
      
    </ion-row>
    <ion-row>
       <ion-col style="text-align: center;">
        <img alt="Logo Dijon métropole" style="width: 160px;" src="assets/logo/LogoDijon.png">

      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col style="text-align: center;">
        <img alt="Logo diiage " style="width: 140px;" src="assets/logo/LogoDiiage.png">
      </ion-col>
    </ion-row>
  </ion-grid>
  

</ion-content>
