  
  <form [formGroup]="postForm" (ngSubmit)="onSubmit(postForm.value)">
    <ion-grid>
      <ion-row>
        <ion-col>
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Que voulez-vous dire ?</mat-label>
            <textarea matInput class="textarea-size" formControlName="message"></textarea>
          </mat-form-field>
          
          <div *ngIf="message.invalid && (message.dirty || message.touched)"
            class="is-danger">

          <div *ngIf="message.errors.maxlength">
            Les 2 mots de passe ne correspondent pas.
          </div>

        </div>

        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="text-center" size="4">          
        </ion-col>
        <ion-col class="text-center" size="4">
          <button mat-fab (click)="openDialog();" type="button">
            <mat-icon aria-hidden="false" aria-label="Example home icon">gif</mat-icon>
          </button>          
        </ion-col>
      
        <ion-col class="text-center" size="4">          
        </ion-col>
      </ion-row>
      <ion-row>        
        <ion-col style="text-align:center;">
          <mat-form-field >
            <mat-label>Publier sur :</mat-label>
            <mat-select formControlName="etablissements" multiple>
              <mat-option *ngFor="let etablissement of lstEtablissement" value="{{etablissement['@id']}}">{{etablissement.label}}</mat-option>
            </mat-select>
          </mat-form-field>
        </ion-col>
      </ion-row> 
      <ion-row>
        <ion-col style="text-align:center;">
          <ion-checkbox formControlName="withMood"></ion-checkbox>
          <ion-label>Masquer l'humeur</ion-label>

        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="text-center" size="4">          
        </ion-col>
        <ion-col style="text-align:center;align-self: center;" size="4">
          <button mat-raised-button color="primary" type="submit" >Publier</button>
        </ion-col>
        <ion-col class="text-center" size="4">          
        </ion-col>
      </ion-row>

           
      <ion-row style="text-align: center;" *ngIf="gif != null">
        <ion-col>
          <a (click)="deleteGif();">Supprimer le gif</a>
          <img src="{{ gif }}"/>
        </ion-col>
      </ion-row>
      <!-- <ion-row>
        <ion-col style="text-align:center;">
          <button mat-raised-button color="primary" type="submit">Publier</button>
        </ion-col>
      </ion-row> -->
    </ion-grid>
  </form>
  <!-- [disabled]="!postForm.valid" -->


