.example-card {
    max-width: 400px;
  }
  
  .example-header-image {
    background-image: url('https://img-19.ccm2.net/aJScABa_qBQwp4s7EtJ3qKh22Hg=/230x/8a4cb6424f40412a8c3f5ceaf6aac207/ccm-encyclopedia/5hHuBfsx-hires-s-.png');
    background-size: cover;
  }

  .mat-checkbox {
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
  }
  
  .likeCheckbox.mat-checkbox.checked {
    color: white;
    background-color: rgb(0, 132, 255);
    transition: all 0.5s;
  }
  .flagmanCheckbox.mat-checkbox.checked{
    color: white;
    background-color: rgb(255, 0, 0);
    transition: all 0.5s;
  }


  .mat-checkbox:hover:not(.checked) {
    color: rgb(0, 0, 0);
    transition: color 0.5s;
  }
  
  ::ng-deep .mat-checkbox-inner-container {
    display: none !important;
  }

  .cardStyle{
    border: 1px solid lightpink;
    box-shadow: 3px 3px 10px #2980b9;
  }
  ::ng-deep .mat-card {
    padding: 10px!important;

  }

  @media (min-width: 780px) {

    .postContent{
      max-width: 40%!important;
    }
}

// .postContent{
//   max-width: 25%!important;
// }

  
  