<mat-card class="cardStyle postContent">
  <mat-card-header>
    <div mat-card-avatar *ngIf="post.mood">      
      <img width="30px" src="assets/icon/{{post.mood.icon}}.png">
    </div>
    <mat-card-title style="font-size: 15px;">{{post.person.lastName}} {{post.person.firstName}}</mat-card-title>
    <mat-card-subtitle><mat-icon style="font-size: 15px;color: black;" aria-label="access_time icon">access_time</mat-icon>
      {{post.publishedAt | date: 'dd/MM/yyyy' }}</mat-card-subtitle>

  </mat-card-header>
  <div  *ngIf="post.mediaUrl" style="text-align:center">
    <img  src="{{post.mediaUrl}}" alt="Photo contenu">
  </div>

  <mat-card-content>
    <p>
      {{post.content}}
    </p>
  </mat-card-content> 
  <mat-card-actions>
    <ion-grid>
      <ion-row>
        <ion-col size="2">
          <mat-checkbox [(ngModel)]="likeCheckbox" class="likeCheckbox" (click)="publicationLike(this)" [ngClass]="{ 'checked': likeCheckbox }"><i class="material-icons">thumb_up</i></mat-checkbox>
        </ion-col>  
        <ion-col size="2" offset="0.5">
          <mat-label>{{post.likes.length}}</mat-label>
        </ion-col>  
        <ion-col size="2" offset="5">
          <mat-checkbox [(ngModel)]="flagmanCheckbox" class="flagmanCheckbox"  [ngClass]="{ 'checked': flagmanCheckbox }" (click)="publicationSignaler(this)" ><ion-icon style="font-size: 20px;" name="flag-outline">flagman</ion-icon></mat-checkbox>

        </ion-col>    
        
      </ion-row>
  </ion-grid>


	</mat-card-actions>
</mat-card>