<h2 mat-dialog-title>Confirmation</h2>

<mat-dialog-content>  
        Voulez vous vraiment vous déconnecter ?
</mat-dialog-content>

<mat-dialog-actions>
    <ion-button (click)="close()">Annuler</ion-button>
    <ion-button (click)="save()">Valider</ion-button>
</mat-dialog-actions>