<mat-tab-group style="width: 100%;">
    <mat-tab style="width: 100%;" label=" Mon Humeur" selected><app-mood-user [currentMood]="currentMood" [lstMoods]="lstMoods"></app-mood-user></mat-tab>
    <mat-tab style="width: 100%;" label="Mes informations"><app-information [person]="person"></app-information></mat-tab>
    <mat-tab style="width: 100%;" label="Mot de passe"><app-password-user></app-password-user></mat-tab>
</mat-tab-group>