.iconSize{
    font-size: 35px;
}
.ionicText{
    text-align: left;
    margin-top: 8px;
}
.ionMargin{
    margin-top: 14px;
}

.iconHeader{
    font-size: 600%;
    margin-top: 20px;
}

.centerIcon{
    margin-left: 40%;
}