<span class="material-icons iconHeader centerIcon">account_circle</span>
<ion-grid *ngIf="person">
  <ion-row class="ionMargin">
    <ion-col size="2">
      <div> 
      </div>
    </ion-col>
    <ion-col size="2">
        <div>  
          <ion-icon name="person-circle-outline" class="iconSize"></ion-icon>
        </div>
    </ion-col>
    <ion-col size="5">
        <div class="ionicText">
            <ion-input [(ngModel)]="person.lastName" matInput  readonly></ion-input>
        </div>
    </ion-col>
    <ion-col size="3">
      <div>        
      </div>
  </ion-col>
  </ion-row>

  <ion-row class="ionMargin">
    <ion-col size="2">
      <div> 
      </div>
    </ion-col>
    <ion-col size="2">
        <div>  
          <ion-icon name="business-outline" class="iconSize"></ion-icon> 
        </div>
    </ion-col>
    <ion-col size="5">
        <div class="ionicText" *ngIf="person.group != null">
            <ion-input  [(ngModel)]="person.group.label" matInput  readonly></ion-input>
        </div>
    </ion-col>
    <ion-col size="3">
      <div>        
      </div>
  </ion-col>
  </ion-row>
  
  <ion-row class="ionMargin">
    <ion-col size="2">
      <div> 
      </div>
    </ion-col>
    <ion-col size="2">
        <div>  
          <ion-icon name="business" class="iconSize"></ion-icon> 
        </div>
    </ion-col>
    <ion-col size="5">
        <div>
          <mat-form-field >
            <mat-label>Mes établissements</mat-label>
            <mat-select>
              <mat-option *ngFor="let etb of person.facilities" value="etb.id">{{etb.label}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
    </ion-col>
    <ion-col size="3">
      <div>        
      </div>
  </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="2">
      <div> 
      </div>
    </ion-col>
    <ion-col size="2">
        <div>  
          <ion-icon name="people-circle-outline" class="iconSize"></ion-icon>
        </div>
    </ion-col>
    <ion-col size="5">
        <div class="ionicText">
            <ion-input *ngIf="person.role != null" [(ngModel)]="person.role.label" matInput  readonly></ion-input>
        </div>
    </ion-col>
    <ion-col size="3">
      <div>        
      </div>
  </ion-col>
  </ion-row>
</ion-grid>
