
<ion-row class="ionMargin" *ngIf="lstEtablissement.length > 1">
  <ion-col size="2">
    <div> 
    </div>
  </ion-col>
  <ion-col size="2" style="align-self: center;">
    <div>
    <ion-icon name="business" class="iconSize" style="font-size: 20px;float:right"></ion-icon> 
      </div>
  </ion-col>
  <ion-col size="5">
        <mat-form-field>
          <mat-select  [(value)]="idEtablissementString">
            <mat-option (click)="changeEtablissement(this.idEtablissementString)" *ngFor="let etablissement of lstEtablissement" value="{{etablissement.id}}">{{etablissement.label}}</mat-option>
          </mat-select>
        </mat-form-field>      
  </ion-col>
</ion-row>

<button mat-fab id="butonNewPost" style="display: none;" (click)="refreshPost()">
  <mat-icon>keyboard_arrow_up</mat-icon>{{nombrePost}}
</button>
  <ion-content >
    
    <div *ngIf="lstPost" class="containPostWall" >       
         
        <div *ngFor="let post of lstPost;" style="flex-grow: 1;"  class="mat-app-background basic-container ">      
          <app-post [post]="post"></app-post>
        </div>          
  </div>
    <ion-spinner *ngIf="!lstPost" name="lines" color="tertiary"></ion-spinner>
    <ion-infinite-scroll id="Scroll_{{idEtablissement}}" (ionInfinite)="loadMore($event)" loadingSpinner="bubbles" loadingText="Loading post...">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-content>
