
<div>
  <ion-button (click)="closeModal();" style="margin-top: -20px;
  margin-right: -20px;
  float: right;">X</ion-button>
</div>
<br>
<br>
<div style="text-align: center;">
  <h1>Recherche de gif avec Angular</h1>
  
  <input type="text" [(ngModel)]="Name">
  <br>
  <br>
  <ion-button (click)="changeGif();">Chercher</ion-button>
<div>
  <ul> 
    <li *ngFor="let gif of gifs" (click)="selectedGif(gif);">
      <img src="{{gif.images.fixed_height_small.url}}"/>
      <span *ngIf='gif.username'>{{gif.username}}</span>
    </li>
  </ul>
</div>


