ul {
    list-style:none;
  }
  
  li {
    display:inline-block;
    margin:20px;
    position:relative;
  }
  
  img {
    width: 400px;
    height: 320px;
    object-fit:cover;
  }
  
  #formulaire {
    text-align:center;
  }
  
  h1 {
    display:block;
    text-align:center;
    font-family: 'Oswald', sans-serif;
    color: #4183D7;
  }
  
  input[type="text"] {
    border:4px solid #4183D7;
    width: 300px;
    height: 45px;
    color: #4183D7;
    padding-left: 20px;
    box-sizing:border-box;
    font-family: 'Oswald', sans-serif;
    margin:0px;
    outline:0px;
  }
  
  input[type="submit"] {
    color:#fff;
    background-color:#4183D7;
    border:1px solid #4183D7;
    height: 45px;
    padding:0px 20px;
    text-transform:uppercase;
    font-family: 'Oswald', sans-serif;
  }
  
  span {
    color:#fff;
    background-color:#4183D7;
    position:absolute;
    display:block;
    width: 100%;
    bottom:1px;
    height: 30px;
    line-height: 30px;
    text-align:center;
    text-transform:uppercase;
    font-family: 'Oswald', sans-serif;
  }