<ion-row style="text-align: center;">
  <ion-col style="font-size: 45px; background-color:#2980b9;">
    <ion-icon name="megaphone-outline" size="30px" color="light"></ion-icon>
    <ion-text style="color: white;">Wall Team</ion-text>
    <ion-icon name="megaphone-outline" size="30px" color="light" style="-webkit-transform: scale(-1, 1);
    -moz-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    transform: scale(-1, 1);"></ion-icon>
  </ion-col>      
</ion-row>

<ion-app style="margin-top:55px">
  <ion-router-outlet></ion-router-outlet>
  <ion-tabs >
    
    <ion-tab-bar *ngIf="!isConnexionRoute();" slot="bottom" class="tabbar">
  
      <ion-tab-button [ngClass]="{'selected': isWall()}" [routerLink]="['/mur']" [queryParams]="{ reload: 'true'}">
        <ion-icon name="megaphone-outline"></ion-icon>
        <ion-label>Wall</ion-label>        
      </ion-tab-button>
  
      <ion-tab-button  [ngClass]="{'selected': isPublication()}" [routerLink]="['/mur/publier']" [queryParams]="{ reload: 'true'}">
        <ion-icon name="add-circle-outline"></ion-icon>
        <ion-label>Publication</ion-label>
      </ion-tab-button>
  
      <ion-tab-button  [ngClass]="{'selected': isProfil()}" [routerLink]="['/monCompte/profil']" [queryParams]="{ reload: 'true'}">
        <ion-icon name="person"></ion-icon>
        <ion-label>Profil</ion-label>        
      </ion-tab-button>
      
      <ion-tab-button (click)="deconnexion();">        
        <ion-label>Déconnexion</ion-label>        
      </ion-tab-button> 
      
    </ion-tab-bar>
  </ion-tabs>
</ion-app>
